.App {
  text-align: center;
}

.checkbox{
  width: 1rem;
  height: 1rem;
  border: 1px solid gray;
  border-radius: 50%;
  margin-right: 2rem;
  /* background-color: #4eb570; */
}

.delete{
  margin-left: 2rem;
  background-color: #4eb570;
  border-radius: 30%;
  border: 1px solid white;
  color: white;
}

p{
  margin-left: 3rem;
  background-color: #4eb570;
  border-radius: 30%;
  border: 1px solid white;
  color: white;
}


#Add-todo {
  background-color: #4eb570;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 1rem;
  margin: 1rem;
}

#add-input{
  background-color: #f0f1f1;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}

.row{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.row:hover{
  background-color: #f0f1f1;
  transition: all 0.3s;
}

ul{
  border: 1px solid gray;
  padding: 0.5rem 2rem;
}